@media only screen and (min-width: 950px) and (max-width: 1200px) {

    header {
        height: 406px;
    }

    .content-header {
        width: 618px;
        gap: 20px;
    }

    .title {
        width: 254px;
        font-size: 45px;
        line-height: 45px;
    }

    .subtitle,
    .btn-1,
    .btn-2 {
        font-size: 16px;
        line-height: 18px;
    }

    .button {
        gap: 13px;
        height: 38px;
    }

    .btn-1 {
        height: 38px;
        width: 180px;
    }

    .btn-2 {
        height: 38px;
        width: 270px;
    }

    .btn-1,
    .btn-2 {
        cursor: pointer;
    }

    .img {
        width: 575px;
        height: 378px;
    }

    #section-one,
    #section-two,
    #section-three,
    #section-four {
        margin: 48px auto;
    }

    #section-one,
    #section-two,
    #section-three {
        padding: 48px 0;
    }

    #section-one,
    #section-two,
    #section-three,
    #section-four,
    .text-section-one,
    .text-section-two,
    .text-section-three,
    .text-section-four {
        gap: 13px;
    }

    .text-section-one {
        width: 311px;
        height: 378px;
    }

    .text-section-one .main-text {
        width: 267px;
        height: 244px;
        font-size: 32px;
        line-height: 44px;
    }

    .text-section-one .secondary-text {
        width: 283px;
        height: auto;
        font-size: 16px;
        line-height: 18px;
    }

    .text-section-two {
        width: 285px;
    }

    .text-section-two .main-text,
    .text-section-three .main-text {
        width: 267px;
        font-size: 32px;
        line-height: 44px;
    }

    .text-section-two .secondary-text,
    .text-section-three .secondary-text {
        width: 283px;
        font-size: 16px;
        line-height: 18px;
    }

    .text-section-three {
        width: 285px;
    }

    .text-section-four .main-text {
        font-size: 32px;
        line-height: 32px;
        width: 496px;
        height: 65px;
    }

    .text-section-four .secondary-text {
        width: 652px;
        font-size: 16px;
        line-height: 28px;
    }
}


@media only screen and (min-width: 770px) and (max-width: 949px) {

    header {
        height: 296px;
    }

    .content-header {
        width: 450px;
        gap: 14px;
    }

    .title {
        width: 185px;
        font-size: 33px;
        line-height: 33px;
    }

    .subtitle,
    .btn-1,
    .btn-2 {
        font-size: 13px;
        line-height: 13px;
    }

    .button {
        gap: 9px;
        height: 28px;
    }

    .btn-1 {
        height: 28px;
        width: 140px;
    }

    .btn-2 {
        height: 28px;
        width: 215px;
    }

    .btn-1,
    .btn-2 {
        cursor: pointer;
    }

    .img {
        width: 420px;
        height: 276px;
    }

    #section-one,
    #section-two,
    #section-three,
    #section-four {
        margin: 35px auto;
    }

    #section-one,
    #section-two,
    #section-three {
        padding: 35px 0;
    }

    #section-one,
    #section-two,
    #section-three,
    #section-four,
    .text-section-one,
    .text-section-two,
    .text-section-three,
    .text-section-four {
        gap: 9px;
    }

    .text-section-one {
        width: 227px;
        height: 276px;
    }

    .text-section-one .main-text {
        width: 195px;
        height: 178px;
        font-size: 23px;
        line-height: 32px;
    }

    .text-section-one .secondary-text {
        width: 206px;
        height: 59px;
        font-size: 13px;
        line-height: 13px;
    }

    .text-section-two {
        width: 208px;
    }

    .text-section-two .main-text,
    .text-section-three .main-text {
        width: 195px;
        font-size: 23px;
        line-height: 32px;
    }

    .text-section-two .secondary-text,
    .text-section-three .secondary-text {
        width: 206px;
        font-size: 13px;
        line-height: 13px;
    }

    .text-section-three {
        width: 208px;
    }

    .text-section-four .main-text {
        font-size: 23px;
        line-height: 23px;
        width: 362px;
        height: 47px;
    }

    .text-section-four .secondary-text {
        width: 476px;
        font-size: 13px;
        line-height: 20px;
    }

    .logo-discord {
        width: 30%;
    }
}

@media only screen and (max-width:769px) {

    header {
        height: 5 0%;
    }

    .title {
        width: 80%;
        font-size: 32px;
        line-height: 32px;
    }

    .subtitle {
        width: 80%;
        font-size: 16px;
        line-height: 21px;
    }

    .button {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .btn-1,
    .btn-2 {
        width: 90%;
        height: auto;
        height: 44px;
        font-size: 16px;
    }

    .btn-1,
    .btn-2 {
        cursor: pointer;
    }

    .img {
        width: 90%;
        height: 90%;
    }

    .text-section-one .main-text,
    .text-section-two .main-text,
    .text-section-three .main-text,
    .text-section-four .main-text {
        font-size: 24px;
        line-height: 32px;
    }

    .text-section-one .secondary-text,
    .text-section-two .secondary-text,
    .text-section-three .secondary-text,
    .text-section-four .secondary-text {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        line-height: 21px;
        text-align: justify;
    }

    #section-one,
    #section-three {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: auto;
    }

    #section-two,
    #section-four {
        flex-direction: column;
    }

    #section-one,
    #section-two,
    #section-three,
    #section-four {
        margin: 15px 0;
        padding: 20px 0;
    }

    .text-section-one,
    .text-section-two,
    .text-section-three,
    .text-section-four {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-section-one .main-text,
    .text-section-one .secondary-text,
    .text-section-two .main-text,
    .text-section-two .secondary-text,
    .text-section-three .main-text,
    .text-section-three .secondary-text,
    .text-section-four .main-text,
    .text-section-four .secondary-text {
        height: auto;
        width: 100%;
        display: flex;
        text-align: left;
        justify-content: left;
    }

    .logo-discord {
        width: 40%;
    }
}